@model IEnumerable<WebApplication2.Models.ClienteViewModel>


@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<div class="container">
    <div class="row">
        <table class="table table-bordered ta">
            <tr>
                <td>Identificador</td>
                <td>Nome</td>
                <td>CPF</td>
                <td>Agencia</td>
                <td>Conta</td>
                <td>Estado</td>
            </tr>
            @foreach(var item in Model)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.CPF</td>
                <td>@item.Agencia</td>
                <td>@item.Conta</td>
                <td>@item.Estado</td>
            </tr>

            }
        </table>
    </div>
</div>

